@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif !important;
}


/* button general styling */
.btn {
    padding: 11px 15px;
    border-radius: 6px;
    font-size: 1.1rem;
    transition: .2s ease-in;
    box-shadow: none !important;
}

.btn-primary:hover {
    box-shadow: 0px 0px 0px 3px #fff, 0px 0px 0px 5px #0D6EFD !important;
}

.btn-primary-sec {
    background-color: #EAEEFD;
    color: #0D6EFD !important;
}

.btn-primary-sec:hover {
    box-shadow: 0px 0px 0px 3px #fff, 0px 0px 0px 5px #EAEEFD !important;
}

/* navbar styling */

nav .navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #0D6EFD !important;
}

nav .nav-link {
    font-size: 1.1rem;
    color: #888 !important;
}

nav .navbar-toggler {
    background-color: #0D6EFD;
    border-color: #0D6EFD !important;
    box-shadow: none !important;
}

/* hero styling */

section.hero .container .row .col-md-6 .hero_text h1 {
    font-size: 3rem;
    font-weight: 300;
}

section.hero .container .row .col-md-6 .hero_text h1 span {
    color: #0D6EFD;
}

section.hero .container .row .col-md-6 .hero_text .mt-5 a .btn {
    padding: 17px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* media quaries */

@media screen and (max-width: 1024px) {
    section.hero .container .row .col-md-6 .hero_text h1 {
        font-size: 2.5rem;
        font-weight: 300;
    }

    section.hero .container .row .col-md-6 .hero_text h4 {
        font-size: 1.3rem;
        font-weight: 300;
    }
}

@media screen and (max-width: 768px) {
    section.hero .container .row .col-md-6 .hero_text h1 {
        font-size: 2rem;
        font-weight: 300;
    }

    section.hero .container .row .col-md-6 .hero_text h4 {
        font-size: 1rem;
        font-weight: 300;
    }

    section.hero .container .row .col-md-6 .hero_text .mt-5 a .btn {
        padding: 15px 15px;
        display: flex;
        font-size: 1rem;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 425px) {
    section.hero .container .row .col-md-6 .hero_text .mt-5 a .btn {
        width: 100%;
    }

    section.hero .container .row .col-md-6 .hero_text .mt-5 a .btn:last-child {
        margin-bottom: 10px;
    }
}